<template>
    <v-dialog
        v-model="dialog"
        max-width="800"
    >
        <template v-slot:activator="{ on: dialog }">
            <v-col
                v-for="item in items"
                :key="item.title"
                lg="2"
                md="2"
                sm="2"
                cols="4"
            >
                <v-tooltip bottom>
                    <template v-slot:activator="{ on: tooltip }">
                        <v-hover
                            v-slot:default="{ hover }"
                        >
                            <v-card
                                v-on="dialog"
                                :elevation="hover ? 12 : 2"
                                :class="{ 'on-hover': hover }"
                            >
                                <v-img
                                    v-on="tooltip"
                                    :src="item.src"
                                    :lazy-src="item.lazySrc"
                                    aspect-ratio="1"
                                    class="grey lighten-2"
                                >
                                    <template v-slot:placeholder>
                                        <v-row
                                            class="fill-height ma-0"
                                            align="center"
                                            justify="center"
                                        >
                                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                        </v-row>
                                    </template>
                                    <v-card-title
                                        align="center"
                                        justify="center"
                                        class="pa-2 float-right"
                                    >
                                        <v-icon
                                            large
                                            color="grey lighten-2"
                                        >mdi-{{item.icon}}</v-icon>
                                    </v-card-title>
                                </v-img>
                            </v-card>
                        </v-hover>
                    </template>
                    <span>{{item.title}}</span>
                </v-tooltip>
            </v-col>
        </template>
        <v-card>
            <v-img
                :src="'https://picsum.photos/500/300?image=1'"
                :lazy-src="'https://picsum.photos/10/6?image=1'"
                contain
                class="black"
            >
            </v-img>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        data: () => ({
            items: [
                {
                    icon: 'video-outline',
                    src: 'https://picsum.photos/500/300?image=1',
                    lazySrc: 'https://picsum.photos/10/6?image=1',
                    title: 'video-1',
                },
                {
                    icon: 'camera-outline',
                    src: 'https://picsum.photos/500/300?image=2',
                    lazySrc: 'https://picsum.photos/10/6?image=2',
                    title: 'photo-1',
                },
                {
                    icon: 'camera-outline',
                    src: 'https://picsum.photos/500/300?image=3',
                    lazySrc: 'https://picsum.photos/10/6?image=3',
                    title: 'photo-2',
                },
                {
                    icon: 'video-outline',
                    src: 'https://picsum.photos/500/300?image=4',
                    lazySrc: 'https://picsum.photos/10/6?image=4',
                    title: 'video-2',
                },
                {
                    icon: 'video-outline',
                    src: 'https://picsum.photos/500/300?image=5',
                    lazySrc: 'https://picsum.photos/10/6?image=5',
                    title: 'video-3',
                },
                {
                    icon: 'video-outline',
                    src: 'https://picsum.photos/500/300?image=6',
                    lazySrc: 'https://picsum.photos/10/6?image=6',
                    title: 'video-4',
                },
                {
                    icon: 'paperclip',
                    src: 'https://picsum.photos/500/300?image=7',
                    lazySrc: 'https://picsum.photos/10/6?image=7',
                    title: 'file-1',
                },

            ],
            dialog: false
        }),
    }
</script>

<style scoped>
</style>
