<template>
	<v-form
		ref="form"
		v-model="valid"
		lazy-validation
	>
		<v-row>
			<v-col
				class=" mb-6"
			>
				<lesson-header :lesson="lesson" @header_update="header_update"></lesson-header>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				cols="12"
				v-for="(lessonContent, index) in lessonContents"
				:key="index"
			>
				<lesson-preview :lessonContent="lessonContent" @remove_element="remove_element"></lesson-preview>
			</v-col>
		</v-row>
		<v-row>
			<v-col>
				<lesson-upload @add_element="add_element"></lesson-upload>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				class="mt-7"
			>
				<v-divider></v-divider>
				<v-btn
					:disabled="!valid"
					color="success"
					class="mr-4 mt-8"
					@click="submit"
				>
					Submit
				</v-btn>

				<v-btn
					color="error"
					class="mr-4 mt-8"
					@click="reset"
				>
					Clear
				</v-btn>
			</v-col>
		</v-row>
	</v-form>
</template>

<script>
    import api from '@/js/api/lessons';

	import LessonHeader from '@/js/components/pages/courses/units/lessons/edit/nested/LessonHeader';
	import LessonPreview from '@/js/components/pages/courses/units/lessons/edit/nested/LessonPreview';
	import LessonUpload from '@/js/components/pages/courses/units/lessons/edit/nested/LessonUpload';
	export default {
        props: [
            'loading',
            'lesson'
        ],
		data: () => ({
			valid: true,
			title: '',
			info: '',
            files: [],
            lessonContents: [],
		}),
		methods: {
			add_element(element){
				this.lessonContents.push({
					'id' : this.lessonContents.length + 1,
					'content' : element.content,
                    'type' : element.type,
                    'active' : false
				});
			},
			remove_element(element){
                var index = this.lessonContents.indexOf(element);
				this.lessonContents.splice(index, 1);
			},
			header_update(inputs){
				this.title = inputs.title;
				this.info = inputs.info;
				this.files = inputs.files;
			},
			reset () {
				this.$refs.form.reset();
				this.lessonContents = [];
			},
			submit() {
				// if(this.$refs.form.validate()){
				// 	let formData = new FormData();

				// 	for (let i = 0; i < this.files.length; i++) {
				// 		formData.append('files-' + i, this.files[i]);
                //     }

                //     formData.append('lessonContent', JSON.stringify(this.lessonContents));

                //     for (let i = 0; i < this.lessonContents.length; i++) {
                //         if(this.lessonContents[i].type == 'image'){
                //             for (let y = 0; y < this.lessonContents[i].content.length; y++) {
                //                 formData.append('lessonContents-' + i + '-image-' + y, this.lessonContents[i].content[y]);
                //             }
                //         }
                //     }

				// 	formData.append('title', this.title);
				// 	formData.append('info', this.info);

				// 	api.update(this.$route.params.course, (this.$route.params.lesson,
                //         formData,
                //         {
                //             headers: {
                //                 'content-type': 'multipart/form-data',
                //                 Authorization: "Bearer " + this.$store.state.token,
                //             },
                //         }
                //     )
				// 	.then(response => {
				// 		this.$router.push({ name: "courses.index" , params: {message: response.data.message}});
				// 	})
				// 	.catch(error => {
				// 		this.error = error.response.data;
				// 	});
				// }
			},
		},
		components: {
			LessonHeader,
			LessonPreview,
			LessonUpload
		},
	}
</script>

<style lang="scss">
	.ql-toolbar.ql-snow{
		background-color: rgba(0,0,0,0.05);
		border-color: rgba(0,0,0,.38) !important;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
	.ql-container.ql-snow{
		border-color: rgba(0,0,0,.38) !important;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	.ql-editor{
		min-height: 200px;
	}
</style>
