<template>
	<v-container>
		<v-row>
			<v-col
				cols="12"
			>
				<bread-crumbs :items="items"></bread-crumbs>
			</v-col>
		</v-row>
		<lesson-show :lesson="lesson" :loading="loading"></lesson-show>
	</v-container>
</template>

<script>
	import api from '@/js/api/lessons';

	import BreadCrumbs from '@/js/components/global/BreadCrumbs';
	import LessonShow from '@/js/components/pages/courses/units/lessons/show/LessonShow';
	import LessonFiles from '@/js/components/pages/courses/units/lessons/show/LessonFiles';

	export default {
		data: function() {
			return {
				loading: true,
				course_id: this.$route.params.course,
                unit_id: this.$route.params.unit,
                lesson_id: this.$route.params.lesson,
				lesson: [],
				items: [],
			}
		},
		mounted() {
			this.items = [{
				text: 'Dashboard',
				disabled: false,
				href: '/',
			},{
				text: 'Courses',
				disabled: false,
				href: '/courses/',
			},{
				text: this.course_id,
				disabled: false,
				href: '/courses/' + this.course_id,
			},{
				text: 'Unit ' + this.unit_id,
				disabled: false,
				href: '/courses/' + this.course_id + '/units/' + this.unit_id,
			},{
				text: 'Lesson ' + this.lesson_id,
				disabled: true,
				href: '/courses/' + this.course_id + '/units/' + this.unit_id + '/lessons/' + this.lesson_id,
			}];

            api.find(this.course_id,
            this.unit_id,
            this.lesson_id, {
				headers: {
					Accept: 'application/json',
					Authorization: "Bearer " + this.$store.state.token
				}
			})
			.then((response) => {
				this.lesson = response.data.lesson;
				this.loading = false;
			})
			.catch(error => {
				this.error = error.response.data;
			});
		},
		components: {
			BreadCrumbs,
			LessonShow,
			LessonFiles,
		}
	}
</script>

<style lang="scss">
</style>
