<template>
	<v-container>
		<v-row>
      		<v-col
      			cols="12"
      		>
      			<bread-crumbs :items="items"></bread-crumbs>
      		</v-col>
      	</v-row>
		<v-row>
            <v-col
      			cols="12"
      		>
				<v-card
					class="pa-2"
				>
					<apexchart type="bar" :options="options" :series="series"></apexchart>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
  import BreadCrumbs from '@/js/components/global/BreadCrumbs';

  export default {
    data: function() {
      return {
        options: {
			chart: {
				id: 'vuechart-2'
			},
			xaxis: {
				categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998]
			},
        },
        series: [{
          	name: 'series-1',
          	data: [30, 40, 45, 50, 49, 60, 70, 91]
        }],
        items: [{
            text: 'Dashboard',
            disabled: true,
            href: '/',
        },{
            text: 'Stadistics',
            disabled: false,
            href: '/stadistics',
        }]
      }
    },
    components: {
		BreadCrumbs
    }
  };
</script>