<template>
	<v-card
		class="pa-2"
	>
		<v-row align="center">
			<v-col
				cols="12"
				class="pt-0 pb-0"
			>
					<apexchart
						type="line"
						:options="chartOptions"
						:series="series"
						:height="380"
					>
					</apexchart>
			</v-col>
		</v-row>
	</v-card>
</template>

<script>
	export default {
		data: function() {
			return {
				series: [{
					name: "Desktops",
					data: [10, 41, 35, 51, 49, 62, 69, 91, 148]
				}],
				chartOptions: {
					chart: {
						type: 'line',
						zoom: {
							enabled: false
						}
					},
					dataLabels: {
						enabled: false
					},
					stroke: {
						curve: 'straight'
					},
					title: {
						text: 'Product Trends by Month',
						align: 'left'
					},
					grid: {
						row: {
							colors: ['#f3f3f3', 'transparent'],
							opacity: 0.5
						},
					},
					xaxis: {
						categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
					}
				},
			}
		}
	};
</script>

<style>
</style>
