<template>
	<v-card
		class="pa-2"
	>
		<v-row align="center">
			<v-col
				cols="12"
				class="pt-0 pb-0"
			>
				<div>
					<apexchart
						type="pie"
						:options="chartOptions"
						:series="series"
						:height="380"
					>
					</apexchart>
				</div>
			</v-col>
		</v-row>
	</v-card>
</template>

<script>
	export default {
		data: function() {
			return {
				series: [49, 55, 41, 17, 15],
				chartOptions: {
					chart: {
						type: 'pie',
					},
					labels: ['enero', 'febrero', 'marzo', 'abril', 'mayo'],
					responsive: [{
						breakpoint: 750,
						options: {
							legend: {
			  					position: 'bottom'
							}
						}
					}]
				},
			}
		}
	};
</script>

<style>
</style>
