<template>
	<v-form
		ref="form"
		v-model="valid"
		lazy-validation
	>
		<v-row>
			<v-col>
				<v-text-field
					v-model="title"
					:rules="titleRules"
					label="Title"
					outlined
					required
				></v-text-field>
			</v-col>
		</v-row>
		<v-row>
			<v-col>
				<v-textarea
					v-model="description"
					:rules="descriptionRules"
					auto-grow
					outlined
					label="Description"
					rows="6"
					required
				></v-textarea>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				lg="6"
				md="6"
				sm="12"
				cols="12"
			>
				<v-file-input
					:rules="inputRules"
					ref='file'
					v-model="file"
					accept="image/png, image/jpeg, image/bmp"
					placeholder="Pick a image"
					prepend-icon="mdi-camera"
					label="Image"
					@change="update"
				></v-file-input>
			</v-col>
			<v-col
				v-if="preview"
				lg="6"
				md="6"
				sm="12"
				cols="12"
			>
				<background-image
					:preview="preview"
				>
				</background-image>
			</v-col>
		</v-row>
		<v-row>
			<v-col>
				<v-btn
					:disabled="!valid"
					color="success"
					class="mr-4 mt-8"
					@click="sendCourse"
				>
					Submit
				</v-btn>

				<v-btn
					color="error"
					class="mr-4 mt-8"
					@click="reset"
				>
					Clear
				</v-btn>
			</v-col>
		</v-row>
	</v-form>
</template>

<script>
	import BackgroundImage from '@/js/components/global/files/nested/BackgroundImage';
	import api from '@/js/api/courses';

	export default {
		data: () => ({
			valid: true,
			title: '',
			description: '',
			file: null,
			preview: null,
			titleRules: [
				v => !!v || 'Title is required',
			],
			descriptionRules: [
				v => !!v || 'Description is required',
			],
			inputRules: [
				value => !value || value.size < 20000000 || 'Image size should be less than 20 MB!',
			],
		}),
		methods: {
			reset () {
				this.$refs.form.reset();
				this.preview = null;
			},
			update(e) {
				if((typeof e != 'undefined') && e != null){
					var re = /(?:\.([^.]+))?$/;
					var ext = re.exec(e.name)[1];

					if(ext.search(/jpg|jpeg|png|gif|bmp|svg/i) != -1){
						this.preview = {
							src: URL.createObjectURL(e),
							title: e.name,
						};
					}
				}
			},
			sendCourse() {
				if(this.$refs.form.validate()){
					let formData = new FormData();
					formData.append('file', this.file);
					formData.append('title', this.title);
					formData.append('description', this.description);

					api.create(formData,
					{
						headers: {
							'content-type': 'multipart/form-data',
							Authorization: "Bearer " + this.$store.state.token,
						},
					})
					.then(response => {
						this.$router.push({ name: "courses.index" , params: {message: response.data.message}});
					})
					.catch(error => {
						this.error = error.response.data;
					});
				}
			},
		},
		components: {
			BackgroundImage,
		},
	}
</script>
