<template>
    <v-row>
        
    </v-row>
</template>

<script>

    export default {
        props: [
            'files',
        ],
        data() {
			return {
			}
		},
        methods: {
            
		},
        components: {
		},
    }
</script>

<style scoped>
</style>