<template>
    <v-card
        class="pa-10"
        elevation="3"
    >
        <v-row>
            <v-col>
                <v-text-field
                    v-model="title"
                    :rules="titleRules"
                    label="Title"
                    outlined
                    required
                    @change="update"
                ></v-text-field>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-textarea
                    v-model="info"
                    auto-grow
                    outlined
                    label="Additional info"
                    rows="1"
                    @change="update"
                ></v-textarea>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-file-input
                    v-model="files"
                    color="deep-purple accent-4"
                    counter
                    label="Additional files"
                    multiple
                    placeholder="Select your files"
                    prepend-icon="mdi-paperclip"
                    outlined
                    :rules="inputRules"
                    :show-size="1000"
                    @change="update"
                >
                    <template v-slot:selection="{ index, text }">
                        <v-chip
                            color="deep-purple accent-4"
                            dark
                            label
                            small
                        >
                            {{ text }}
                        </v-chip>
                    </template>
                </v-file-input>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
    export default {
        props: [

        ],
        data() {
			return {
                title: '',
                info: '',
                files: [],
                titleRules: [
                    v => !!v || 'Title is required',
                ],
                inputRules: [
                    value => !value.length || value.reduce((size, file) => size + file.size, 0) < 20000000 || 'Files size should be less than 20 MB!',
                ],
			}
		},
        methods: {
            update(){
                var auxReturn = {
                    'title' : this.title,
                    'info' : this.info,
                    'files' : this.files,
                }
                this.$emit("header_update", auxReturn);
            }
		},
        components: {
		},
    }
</script>

<style scoped>
</style>


