<template>
    <v-row
        justify="center"
    >
        <v-col
            cols="12"
            class="text-center"
        >
            <v-dialog
                v-model="dialog"
                persistent
                max-width="960px"
            >
                <template v-slot:activator="{ on }">
                    <v-btn
                        color="primary"
                        block
                        v-on="on"
                    >
                        <v-icon>mdi-folder-multiple-image</v-icon>  upload media
                    </v-btn>
                </template>
                <v-card
                    elevation="3"
                >
                    <v-tabs
                        v-model="tab"
                        background-color="deep-purple accent-4"
                        centered
                        dark
                        icons-and-text
                    >
                        <v-tabs-slider></v-tabs-slider>

                        <v-tab
                            href="#tab-1"
                            @click="optionModal = 'ql-content'"
                        >
                            Content
                            <v-icon>mdi-text</v-icon>
                        </v-tab>

                        <v-tab
                            href="#tab-2"
                            @click="optionModal = 'video'"
                        >
                            Video
                            <v-icon>mdi-video</v-icon>
                        </v-tab>

                        <v-tab
                            href="#tab-3"
                            @click="optionModal = 'image'"
                        >
                            Images
                            <v-icon>mdi-image</v-icon>
                        </v-tab>

                        <v-tab
                            href="#tab-4"
                            @click="optionModal = 'link'"
                        >
                            Link
                            <v-icon>mdi-link</v-icon>
                        </v-tab>
                    </v-tabs>

                    <v-tabs-items
                        v-model="tab"
                        class="my-6"
                    >
                        <v-tab-item
                            value="tab-1"
                        >
                            <v-card
                                flat
                                class="mx-6"
                            >
                                <quill-editor
                                    v-model="content"
                                    required
                                    :options="editorOption"
                                ></quill-editor>
                            </v-card>
                        </v-tab-item>
                        <v-tab-item
                            value="tab-2"
                        >
                            <v-card
                                flat
                                class="mx-6 fill-height"
                            >
                                <v-card-text>
                                    <v-text-field
                                        v-model="video"
                                        label="Enter video"
                                        persistent-hint
                                        required
                                        outlined
                                        placeholder="Embed url video"
                                        prepend-icon="mdi-video"
                                    ></v-text-field>
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                        <v-tab-item
                            value="tab-3"
                        >
                            <v-card
                                flat
                                class="mx-6 fill-height"
                            >
                                <v-card-text>
                                    <v-file-input
                                        ref='file'
                                        v-model="images"
                                        accept="image/png, image/jpeg, image/bmp"
                                        color="deep-purple accent-4"
                                        label="Image input"
                                        placeholder="Select your images"
                                        prepend-icon="mdi-image"
                                        outlined
                                        multiple
                                        :show-size="1000"
                                    >
                                    </v-file-input>
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                        <v-tab-item
                            value="tab-4"
                        >
                            <v-card
                                flat
                                class="mx-6 fill-height"
                            >
                                <v-card-text>
                                    <v-text-field
                                        v-model="link"
                                        label="Enter link"
                                        persistent-hint
                                        required
                                        outlined
                                        placeholder="Embed link"
                                        prepend-icon="link"
                                    ></v-text-field>
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                    </v-tabs-items>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
                        <v-btn color="blue darken-1" text @click="save_media">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        props: [
            'files',
        ],
        data() {
			return {
                tab: null,
                content: '',
                editorOption: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote'],
                            [{ 'header': 1 }, { 'header': 2 }],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'script': 'sub' }, { 'script': 'super' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'direction': 'rtl' }],
                            [{ 'size': ['small', false, 'large', 'huge'] }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'font': [] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'align': [] }],
                            ['clean'],
                            ['link', 'image',]
                        ],
                    },
                    placeholder: 'Lesson content ...'
                },
                optionModal: 'ql-content',
                dialog: false,
                images: null,
                link: '',
                video: '',
			}
		},
        methods: {
            save_media(){
                this.dialog = false;
                var auxReturn = [];

                if(this.optionModal == 'video' && this.video != ''){
                    auxReturn = {
                        'content' : this.video,
                        'type' : 'video',
                    };

                    this.video = '';
                    this.link = '';
                    this.images = null;
                    this.content = '';

                }else if(this.optionModal == 'image' && this.images.length != 0){
                    auxReturn = {
                        'content' : this.images,
                        'type' : 'image',
                    };

                    this.video = '';
                    this.link = '';
                    this.images = null;
                    this.content = '';

                }else if(this.optionModal == 'link' && this.link != ''){
                    auxReturn = {
                        'content' : this.link,
                        'type' : 'link',
                    };

                    this.video = '';
                    this.link = '';
                    this.images = null;
                    this.content = '';

                }else if(this.optionModal == 'ql-content' && this.content != ''){
                    auxReturn = {
                        'content' : this.content,
                        'type' : 'ql-content',
                    };
                    this.video = '';
                    this.link = '';
                    this.images = null;
                    this.content = '';
                }

                this.$emit("add_element", auxReturn);
            }
		},
        components: {
		},
    }
</script>

<style scoped>
</style>
