<template>
    <v-container>
        <v-row>
            <v-col
                cols="12"
            >
                <div class="loading" v-if="loading">
                    Loading...
                </div>

                <div v-if="error" class="error">
                    {{ error }}
                </div>

                <ul v-if="users">
                    <li v-for="{ name, email } in users">
                        <strong>Name:</strong> {{ name }},
                        <strong>Email:</strong> {{ email }}
                    </li>
                </ul>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
import axios from 'axios';
export default {
    data() {
        return {
            loading: false,
            users: null,
            error: null,
        };
    },
    created() {
        this.fetchData();
    },
    methods: {
        fetchData() {
            this.error = this.users = null;
            this.loading = true;
            axios
                .get('/api/users')
                .then(response => {
                    console.log(response);
                });
        }
    }
}
</script>