<template>
	<v-hover
        v-slot:default="{ hover }"
    >
        <v-card
            :elevation="hover ? 12 : 2"
            :class="{ 'on-hover': hover }"
            class="pa-1 pt-0"
        >
            <v-list-item
                class="pb-0"
            >
                <v-list-item-content
                    class="py-0"
                >
                    <v-card-title
                        class="px-0 headline"
                    >
                        {{element.title}}
                    </v-card-title>
                </v-list-item-content>
                <v-list-item-avatar
                    class="justify-start align-start align-self-start mt-3"
                >
                    <v-icon
                        x-large
                    >
                        mdi-{{element.icon_name}}
                    </v-icon>
                </v-list-item-avatar>
            </v-list-item>
            <v-card-subtitle
                class="py-0"
            >
                {{element.description}}
            </v-card-subtitle>

            <v-card-actions>
                <v-btn
                    text
                    color="deep-purple accent-4"
                    :to="'/courses/' + element.course_id + '/units/' + element.id"
                >Explore</v-btn>
                <v-spacer></v-spacer>
                <v-menu bottom left>
                    <template v-slot:activator="{ on }">
                        <v-btn
                            icon
                            v-on="on"
                        >
                            <v-icon>mdi-dots-vertical</v-icon>
                        </v-btn>
                    </template>

                    <v-list>
                        <v-list-item
                            :to="'/courses/' + element.course_id + '/units/' + element.id + '/edit'"
                            link
                        >
                            <v-list-item-title>
                                <v-icon>mdi-pencil</v-icon> Edit
                            </v-list-item-title>
                        </v-list-item>
                        <v-list-item
                            @click=""
                        >
                            <v-list-item-title>
                                <v-icon>mdi-delete</v-icon> Delete
                            </v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </v-card-actions>
        </v-card>
    </v-hover>
</template>

<script>
	export default {
		props: [
			'element'
		],
	}
</script>

<style scoped>
    .v-card__text, .v-card__title {
        word-break: normal; /* maybe !important  */
    }
</style>
