<template>
	<v-hover
        v-slot:default="{ hover }"
    >
        <v-card
            :elevation="hover ? 12 : 2"
            :class="{ 'on-hover': hover }"
        >
            <v-card-title class="headline">
                {{element.lesson.title}}
            </v-card-title>
            <v-card-subtitle>
                {{element.lesson.info}}
            </v-card-subtitle>

            <v-card-actions>
                <v-btn
                    text
                    :to="'/courses/' + course_id + '/units/' + unit_id + '/lessons/' + element.lesson.id"
                >Explore</v-btn>
                <v-spacer></v-spacer>
                <v-menu bottom left>
                    <template v-slot:activator="{ on }">
                        <v-btn
                            icon
                            v-on="on"
                        >
                            <v-icon>mdi-dots-vertical</v-icon>
                        </v-btn>
                    </template>

                    <v-list>
                        <v-list-item
                            :to="'/courses/' + course_id + '/units/' + unit_id + '/lessons/' + element.lesson.id + '/edit'"
                            link
                        >
                            <v-list-item-title>
                                <v-icon>mdi-pencil</v-icon> Edit
                            </v-list-item-title>
                        </v-list-item>
                        <v-list-item
                            @click=""
                        >
                            <v-list-item-title>
                                <v-icon>mdi-delete</v-icon> Delete
                            </v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </v-card-actions>
        </v-card>
    </v-hover>
</template>

<script>
	export default {
		props: [
			'element'
        ],
        data: function() {
			return {
				course_id: this.$route.params.course,
                unit_id: this.$route.params.unit,
			}
		},
	}
</script>

<style scoped>
    .v-card__text, .v-card__title {
        word-break: normal; /* maybe !important  */
    }
</style>
