<template>
    <v-container>
        <v-row>
            <v-col
                cols="12"
            >
                <bread-crumbs :items="items"></bread-crumbs>
            </v-col>
        </v-row>
        <v-row>
            <v-col
                cols="12"
                v-if="!loading"
            >
                <form-edit :lesson="lesson" :loading="loading"></form-edit>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import api from '@/js/api/lessons';

    import BreadCrumbs from '@/js/components/global/BreadCrumbs';
    import FormEdit from '@/js/components/pages/courses/lessons/edit/FormEdit';

    export default {
        data: function() {
            return {
                loading: true,
				course_id: this.$route.params.course,
                lesson_id: this.$route.params.lesson,
                lesson: [],
				items: [],
            }
        },
        mounted() {
			this.items = [{
                text: 'Dashboard',
                disabled: false,
                href: '/',
            },{
                text: 'Courses',
                disabled: false,
                href: '/courses/',
            },{
                text: this.course_id,
                disabled: false,
                href: '/courses/' + this.course_id,
            },{
                text: 'Lesson - ' + this.lesson_id,
                disabled: false,
                href: '/courses/' + this.course_id + '/lessons/' + this.lesson_id,
            },{
                text: 'Edit',
                disabled: true,
                href: '/courses/show/lessons/show/edit/',
            }];

			api.edit(this.$route.params.course, this.$route.params.lesson, {
				headers: {
					Accept: 'application/json',
					Authorization: "Bearer " + this.$store.state.token
				}
			})
			.then((response) => {
				this.lesson = response.data.lesson;
				this.loading = false;
			})
			.catch(error => {
				this.error = error.response.data;
			});
		},
        components: {
            BreadCrumbs,
            FormEdit
        }
    }
</script>

<style>
</style>
