<template>
	<v-container
		class="text-center fill-height"
	>
		<v-row
			class="align-center"
		>
			<v-col
				cols="12"
			>
				<h1
					class="display-2 primary--text"
				>
					Page Not Found
				</h1>
		    </v-col>
		</v-row>
	</v-container>
</template>

<script>
</script>
