<template>
	<v-navigation-drawer
		v-model="drawerValue"
		absolute
		temporary
        app
        overflow
	>
		<v-list
			nav
			dense
		>
			<v-list-item-group
				v-model="groupValue"
				active-class="deep-purple--text text--accent-4"
			>
				<v-list-item to="/">
					<v-list-item-title>Home</v-list-item-title>
				</v-list-item>

				<v-list-item to="/courses">
					<v-list-item-title>Courses</v-list-item-title>
				</v-list-item>

				<v-list-item to="/profile">
					<v-list-item-title>Profile</v-list-item-title>
				</v-list-item>

				<v-list-item href="/logout">
					<v-list-item-title>Logout</v-list-item-title>
				</v-list-item>
			</v-list-item-group>
		</v-list>
	</v-navigation-drawer>
</template>

<script>
	export default {
		template: '<Navigation/>',
		name: 'navigation',
		props: [
			'drawer',
			'group',
		],
		data(){
			return {
				drawerValue: this.drawer,
				groupValue: this.group,
			}
		},
		watch: {
			drawer (value) {
				this.drawerValue = value;
			},
			drawerValue (value) {
				this.$emit('drawerStatus', value);
			},
		},
	}
</script>

<style lang="scss">
	.v-item-group.v-bottom-navigation{
		position: sticky;
	}
</style>
