<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
      >
        <bread-crumbs :items="items"></bread-crumbs>
      </v-col>
    </v-row>
    <index-course></index-course>
    <index-course></index-course>
    <index-course></index-course>
    <v-btn
      fab
      color="red accent-3"
      bottom
      right
      dark
      fixed
      to="/courses/create"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
  </v-container>
</template>

<script>
  import BreadCrumbs from '@/js/components/global/BreadCrumbs';
    import IndexCourse from '@/js/components/pages/courses/index/IndexCourse';

  export default {
    data: function() {
      return {
        items: [{
          text: 'Dashboard',
          disabled: false,
          href: '/',
        },{
          text: 'Courses',
          disabled: true,
          href: '/courses',
        }],
      }
    },
    components: {
      BreadCrumbs,
      IndexCourse
    }
  }
</script>

<style>
</style>
