<template>
    <v-autocomplete
        v-model="name"
        :items="items"
        :loading="isLoading"
        chips
        clearable
        item-text="name"
        item-value="name"
        label="Search for a icon..."
        outlined
        @change="icon_update"
    >
        <template v-slot:no-data>
            <v-list-item>
                <v-list-item-title>
                    Search for your favorite <strong>icon</strong>
                </v-list-item-title>
            </v-list-item>
        </template>
        <template v-slot:selection="{ attr, on, item, selected }">
            <v-chip
                v-bind="attr"
                :input-value="selected"
                color="blue-grey"
                class="white--text"
                v-on="on"
            >
                <v-icon left>mdi-{{item.name}}</v-icon>
                <span v-text="item.name"></span>
            </v-chip>
        </template>
        <template v-slot:item="{ item }">
            <v-list-item-avatar>
                <v-icon>mdi-{{item.name}}</v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
                <v-list-item-title v-text="item.name"></v-list-item-title>
                <v-list-item-subtitle v-text="item.content"></v-list-item-subtitle>
            </v-list-item-content>
        </template>
    </v-autocomplete>
</template>

<script>
    import api from '@/js/api/material_icons';

    export default {
        data() {
			return {
                name: '',
                items: [],
                search: null,
                isLoading: false,
			}
		},
        methods: {
            icon_update(){
                this.$emit("icon_update", this.name);
            }
        },
        mounted() {
            this.isLoading = true

			api.all({
				headers: {
					Accept: 'application/json',
					Authorization: "Bearer " + this.$store.state.token
				}
			})
			.then((response) => {
                this.items = response.data.icons;
			})
			.catch(error => {
				this.error = error.response.data;
            })
            .finally(() => (this.isLoading = false));
		},
    }
</script>

<style scoped>
</style>


