<template>
	<v-container>
		<v-row>
			<v-col
				cols="12"
			>
				<bread-crumbs :items="items"></bread-crumbs>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				cols="12"
			>
		      	
		    </v-col>
		</v-row>
	</v-container>
</template>

<script>
	import BreadCrumbs from '@/js/components/global/BreadCrumbs';

	export default {
		data: function() {
			return {
				items: [{
				    text: 'Dashboard',
				    disabled: false,
				    href: '/',
				},{
				    text: 'Profile',
				    disabled: true,
				    href: '/profile',
				}]
			}
		},
		components: {
			BreadCrumbs
		}
	};
</script>
