<template>
	<v-container>
		<v-row>
			<v-col
				cols="12"
			>
				<bread-crumbs :items="items"></bread-crumbs>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				cols="12"
				class="text-center pt-0"
			>
                <v-tooltip bottom>
                    <template v-slot:activator="{ on: tooltip }">
                        <v-btn
                            color="primary"
                            :to="'/courses/' + course_id + '/units/create'"
                            block
                            dark
                            v-on="{ ...tooltip}"
                        >New Unit</v-btn>
                    </template>
                    <span>Make new unit to your course.</span>
                </v-tooltip>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				cols="12"
			>
				<course-card :course="course" :loading="loading"></course-card>
			</v-col>
		</v-row>
		<unit-list :units="course.units" :loading="loading"></unit-list>
		<v-row>
			<v-col
				cols="12"
			>
				<comments-box :course="course" :comments='comments' :loading="loading" @update="update_comments"></comments-box>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
	import api from '@/js/api/courses';

	import BreadCrumbs from '@/js/components/global/BreadCrumbs';
	import CourseCard from '@/js/components/pages/courses/show/CourseCard';
	import UnitList from '@/js/components/pages/courses/show/UnitList';
	import CommentsBox from '@/js/components/pages/courses/show/CommentsBox';

	export default {
		data: function() {
			return {
                loading: true,
                course_id: this.$route.params.course,
				items: [{
					text: 'Dashboard',
					disabled: false,
					href: '/',
				},{
					text: 'Courses',
					disabled: false,
					href: '/courses/',
				},{
					text: 'Show',
					disabled: true,
					href: '/courses/show/',
				}],
				course: '',
				comments: '',
			}
		},
		mounted() {
            this.items = [{
				text: 'Dashboard',
				disabled: false,
				href: '/',
			},{
				text: 'Courses',
				disabled: false,
				href: '/courses/',
			},{
				text: 'Course ' + this.course_id,
				disabled: true,
				href: '/courses/' + this.course_id,
			}];

			api.find(this.$route.params.course, {
				headers: {
					Accept: 'application/json',
					Authorization: "Bearer " + this.$store.state.token
				}
			})
			.then((response) => {
				this.course = response.data.course;
				this.comments = response.data.comments;

				this.loading = false;
			})
			.catch(error => {
				this.error = error.response.data;
			});
		},
		methods: {
			update_comments(comment) {
				this.comments.push(comment);
			}
		},
		components: {
			BreadCrumbs,
			CourseCard,
			UnitList,
			CommentsBox,
		}
	}
</script>

<style>
</style>
