<template>
	<v-container>
		<v-row>
			<v-col
			    cols="12"
			>
				<bread-crumbs :items="items"></bread-crumbs>
			</v-col>
		</v-row>
		<v-row>
			<v-col
			    cols="12"
			>
				<v-card
				    class="pa-10"
                    v-if="!loading"
				>
					<form-edit :course="course" :loading="loading"></form-edit>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
    import api from '@/js/api/courses';

	import BreadCrumbs from '@/js/components/global/BreadCrumbs';
	import FormEdit from '@/js/components/pages/courses/edit/FormEdit';

	export default {
		data: function() {
			return {
                loading: true,
                course_id: this.$route.params.course,
                course: '',
                items: [],
			}
        },
        mounted() {
            this.items = [{
                text: 'Dashboard',
                disabled: false,
                href: '/',
            },{
                text: 'Courses',
                disabled: false,
                href: '/courses/',
            },{
                text: this.course_id,
                disabled: false,
                href: '/courses/' + this.course_id,
            },{
                text: 'Edit',
                disabled: true,
                href: '/courses/' + this.course_id + '/edit/',
            }],

			api.edit(this.$route.params.course, {
				headers: {
					Accept: 'application/json',
					Authorization: "Bearer " + this.$store.state.token
				}
			})
			.then((response) => {
                this.course = response.data.course;
				this.loading = false;
			})
			.catch(error => {
				this.error = error.response.data;
			});
		},
		components: {
			BreadCrumbs,
			FormEdit
		}
	}
</script>

<style>
</style>
