<template>
    <v-card
        elevation="3"
    >
        <template
            v-if="lessonContent.type == 'ql-content'"
        >
            <v-sheet
                v-show="lessonContent.active"
            >
                <quill-editor
                    v-model="lessonContent.content"
                    required
                    :options="editorOption"
                ></quill-editor>
            </v-sheet>
            <v-card-text
                v-show="!lessonContent.active"
            >
                <div
                    class="output ql-snow"
                >
                    <div class="ql-editor" v-html="lessonContent.content"></div>
                </div>
            </v-card-text>
            <v-card-actions
                class="grey lighten-4"
            >
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    fab
                    small
                    @click="lessonContent.active = !lessonContent.active"
                >
                    <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn
                    color="error"
                    fab
                    small
                    @click="remove_element(lessonContent)"
                >
                    <v-icon>mdi-delete</v-icon>
                </v-btn>
            </v-card-actions>
        </template>
        <template
            v-if="lessonContent.type == 'image'"
        >
            <v-carousel>
                <template
                    v-for="(image, index) in imageGallery"
                >
                    <v-carousel-item
                        :key="index"
                        :src="image"
                        reverse-transition="fade-transition"
                        transition="fade-transition"
                    ></v-carousel-item>
                </template>
            </v-carousel>
            <v-card-actions
                class="grey lighten-4"
            >
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    fab
                    small
                    @click="lessonContent.active = !lessonContent.active"
                >
                    <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn
                    color="error"
                    fab
                    small
                    @click="remove_element(lessonContent)"
                >
                    <v-icon>mdi-delete</v-icon>
                </v-btn>
            </v-card-actions>
            <v-slide-y-transition>
                <v-sheet
                    v-show="lessonContent.active"
                    class="ma-6"
                >
                    <v-file-input
                        ref='file'
                        v-model="lessonContent.content"
                        accept="image/png, image/jpeg, image/bmp"
                        color="deep-purple accent-4"
                        label="Image input"
                        placeholder="Select your images"
                        prepend-icon="mdi-image"
                        outlined
                        multiple
                        :show-size="1000"
                    >
                    </v-file-input>
                </v-sheet>
            </v-slide-y-transition>
        </template>
        <template
            v-if="lessonContent.type == 'video'"
        >
            <div style="width: 100%;">
                <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
                    <iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" :src="lessonContent.content" allowfullscreen="true" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                </div>
            </div>
            <v-card-actions
                class="grey lighten-4"
            >
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    fab
                    small
                    @click="lessonContent.active = !lessonContent.active"
                >
                    <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn
                    color="error"
                    fab
                    small
                    @click="remove_element(lessonContent)"
                >
                    <v-icon>mdi-delete</v-icon>
                </v-btn>
            </v-card-actions>
            <v-slide-y-transition>
                <v-sheet
                    v-show="lessonContent.active"
                    class="ma-6"
                >
                    <v-text-field
                        v-model="lessonContent.content"
                        label="Enter video"
                        persistent-hint
                        required
                        outlined
                        placeholder="Embed url video"
                        prepend-icon="mdi-video"
                    ></v-text-field>
                </v-sheet>
            </v-slide-y-transition>
        </template>
        <template
            v-if="lessonContent.type == 'link'"
        >
            <div style="width: 100%;">
                <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
                    <iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" :src="lessonContent.content" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
                </div>
            </div>
            <v-card-actions
                class="grey lighten-4"
            >
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    fab
                    small
                    @click="lessonContent.active = !lessonContent.active"
                >
                    <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn
                    color="error"
                    fab
                    small
                    @click="remove_element(lessonContent)"
                >
                    <v-icon>mdi-delete</v-icon>
                </v-btn>
            </v-card-actions>
            <v-slide-y-transition>
                <v-sheet
                    v-show="lessonContent.active"
                    class="ma-6"
                >
                    <v-text-field
                        v-model="lessonContent.content"
                        label="Enter link"
                        persistent-hint
                        required
                        outlined
                        placeholder="Embed link"
                        prepend-icon="link"
                    ></v-text-field>
                </v-sheet>
            </v-slide-y-transition>
        </template>
    </v-card>
</template>

<script>
    export default {
        props: [
            'lessonContent',
        ],
        data() {
			return {
                editorOption: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote'],
                            [{ 'header': 1 }, { 'header': 2 }],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'script': 'sub' }, { 'script': 'super' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'direction': 'rtl' }],
                            [{ 'size': ['small', false, 'large', 'huge'] }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'font': [] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'align': [] }],
                            ['clean'],
                            ['link', 'image',]
                        ],
                    },
                    placeholder: 'Lesson content ...'
                },
			}
		},
        methods: {
            remove_element(element){
                this.$emit("remove_element", element);
            }
		},
        components: {
        },
        computed: {
            imageGallery: function () {
                let gallery = []
                for (let index = 0; index < this.lessonContent.content.length; index++) {
                    let image = this.lessonContent.content[index];
                    image = URL.createObjectURL(image);
                    gallery.push(image);

                }
                return gallery;
            },
        }
    }
</script>

<style scoped>
</style>
