<template>
	<v-container>
		<v-row>
			<v-col
				cols="12"
			>
				<bread-crumbs :items="items"></bread-crumbs>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				cols="12"
			>
				<form-create></form-create>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
	import BreadCrumbs from '@/js/components/global/BreadCrumbs';
	import FormCreate from '@/js/components/pages/courses/activities/FormCreate';

	export default {
		data: function() {
			return {
				items: [{
					text: 'Dashboard',
					disabled: false,
					href: '/',
				},{
					text: 'Courses',
					disabled: false,
					href: '/courses/',
				},{
					text: 'Show',
					disabled: false,
					href: '/courses/show/',
				},{
					text: 'New activity',
					disabled: true,
					href: '/courses/activities/create/',
				}]
			}
		},
		components: {
			BreadCrumbs,
			FormCreate
		}
	}
</script>

<style>
</style>
