<template>
	<v-container>
		<v-row>
			<v-col
				cols="12"
			>
				<bread-crumbs :items="items"></bread-crumbs>
			</v-col>
		</v-row>
		<v-row>
			<v-col
				cols="12"
			>
		      	<v-text-field
					outlined
					clearable
					label="Search"
					type="text"
				>
					<template v-slot:append-outer>
						<v-icon>mdi-magnify</v-icon>
					</template>
				</v-text-field>
		    </v-col>
		</v-row>
	</v-container>
</template>

<script>
	import BreadCrumbs from '@/js/components/global/BreadCrumbs';

	export default {
		data: function() {
			return {
				items: [{
				    text: 'Home',
				    disabled: false,
				    href: '/',
				},{
				    text: 'Search',
				    disabled: true,
				    href: '/search',
				}]
			}
		},
		components: {
			BreadCrumbs
		}
	};
</script>
