<template>
    <v-sheet>
        <v-row>
            <template
                v-if="loading"
            >
                <v-col
                    cols="12"
                >
                    <v-card
                        class="mx-auto"
                        elevation="2"
                    >
                        <v-skeleton-loader
                            type="article"
                        >
                        </v-skeleton-loader>
                    </v-card>
                </v-col>
            </template>
            <v-col
                v-else
                cols="12"
            >
                <v-card
                    class="pa-1 pt-0"
                >
                    <v-list-item
                        class="pb-0"
                    >
                        <v-list-item-content
                            class="pb-0"
                        >
                            <v-card-title
                                class="px-0 headline"
                            >
                                {{unit.title}}
                            </v-card-title>
                            <v-card-subtitle
                                class="px-0"
                            >
                                {{unit.status.title}}
                            </v-card-subtitle>
                        </v-list-item-content>
                        <v-list-item-avatar
                            class="justify-start align-start align-self-start mt-6"
                        >
                            <v-icon
                                x-large
                            >
                                mdi-{{unit.icon_name}}
                            </v-icon>
                        </v-list-item-avatar>
                    </v-list-item>
                    <v-card-subtitle>
                        {{unit.description}}
                    </v-card-subtitle>

                    <v-card-actions>
                        <v-btn
                            text
                            color="deep-purple accent-4 des"
                            exact
                            :to="'/courses/' + unit.course_id"
                        >Go Back</v-btn>
                        <v-spacer></v-spacer>
                        <v-menu bottom left>
                            <template v-slot:activator="{ on }">
                                <v-btn
                                    icon
                                    v-on="on"
                                >
                                    <v-icon>mdi-dots-vertical</v-icon>
                                </v-btn>
                            </template>

                            <v-list>
                                <v-list-item
                                    :to="'/courses/' + unit.course_id + '/units/' + unit.id + '/edit'"
                                    link
                                >
                                    <v-list-item-title>
                                        <v-icon>mdi-pencil</v-icon> Edit
                                    </v-list-item-title>
                                </v-list-item>
                                <v-list-item
                                    @click=""
                                >
                                    <v-list-item-title>
                                        <v-icon>mdi-delete</v-icon> Delete
                                    </v-list-item-title>
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-sheet>
</template>

<script>
	export default {
		data: function() {
			return {

			}
		},
		props: [
			'unit',
			'loading'
        ],
        components: {
            // Create a new component that
            // extends v-skeleton-loader
            // VBoilerplate: {
            //     functional: true,

            //     render (h, { data, props, children }) {
            //     return h('v-skeleton-loader', {
            //         ...data,
            //         props: {
            //         boilerplate: true,
            //         elevation: 3,
            //         ...props,
            //         },
            //     }, children)
            //     },
            // },
        },
	};
</script>

<style>
</style>
