<template>
    <div>
        <v-row
            v-if="loading"
        >
            <v-col
				v-for="n in 3"
				:key="n"
				lg="4"
				md="4"
				sm="6"
				cols="12"
			>
				<v-card
					class="mx-auto"
                    elevation="2"
				>
					<v-skeleton-loader
						class="px-4 py-4"
						type="article"
					>
					</v-skeleton-loader>
				</v-card>
			</v-col>
        </v-row>
        <v-row
            v-else
            class="pt-4 pb-4"
        >
            <v-col
                v-for="(element, index) in unit_elements"
                :key="index"
                lg="4"
				md="4"
				sm="6"
				cols="12"
            >
                <lesson-card
                    v-if="element.unit_element_type.name == 'lesson'"
                    :element="element"
                ></lesson-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
	import LessonCard from '@/js/components/pages/courses/units/show/nested/LessonCard';

	export default {
        props: [
            'loading',
			'unit_elements'
		],
		components: {
			LessonCard,
		}
	}
</script>

<style scoped>
</style>
