<template>
    <v-tooltip
        bottom
    >
        <template v-slot:activator="{ on: tooltip }">
            <v-hover
                v-slot:default="{ hover }"
            >
                <v-card
                    :elevation="hover ? 12 : 2"
                    :class="{ 'on-hover': hover }"
                    height="100%"
                    justify="center"
                    align="center"
                >
                    <v-btn
                        color="red"
                        v-on="tooltip"
                        @click="remove(idx)"
                        fab
                        dark
                        small
                        absolute
                        top
                        right
                    >
                        <v-icon
                            large
                        >mdi-close</v-icon>
                    </v-btn>
                    <template>
                        <v-img
                            v-on="tooltip"
                            @click="show(file.id)"
                            :src="file.src ? file.src : file"
                            aspect-ratio="1"
                            class="grey lighten-2 clickable"
                        >
                            <template v-slot:placeholder>
                                <v-row
                                    class="fill-height ma-0"
                                    align="center"
                                    justify="center"
                                >
                                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                </v-row>
                            </template>
                        </v-img>
                    </template>
                </v-card>
            </v-hover>
        </template>
        <span>{{file.title}}</span>
    </v-tooltip>
</template>

<script>
    export default {
        props: [
			'file',
        ],
        methods: {
            remove(index) {
                this.files.splice(index, 1);
                this.images.splice(index, 1);
                document.getElementById('file-upload').value = '';
			},
            show(index) {
				this.index = index
				this.visible = true
			},
		},
	}
</script>