<template>
    <v-row>
        <template
            v-for="(file, idx) in files"
        >
            <v-col
                :key="idx"
                lg="2"
                md="2"
                sm="2"
                cols="4"
            >
                <image-box
                    :file="file"
                    v-if="file.ext == 'image'"
                ></image-box>
                <file-box
                    :file="file"
                    v-else
                ></file-box>
            </v-col>
        </template>
        <vue-easy-lightbox
            :visible="visible"
            :index="index"
            :imgs="images"
            :moveDisabled="false"
            @hide="handleHide"
        />
    </v-row>
</template>

<script>
    import vueEasyLightbox from 'vue-easy-lightbox'
    import ImageBox from '@/js/components/global/files/nested/ImageBox';
    import FileBox from '@/js/components/global/files/nested/FileBox';

    export default {
        props: [
            'files',
            'images'
        ],
        data() {
			return {
                visible: false,
				index: 0 // default
			}
        },
        methods: {
			handleHide() {
				this.visible = false
			}
		},
        components: {
            vueEasyLightbox,
            ImageBox,
            FileBox
        },
    }
</script>

<style scoped>
    .clickable {
        cursor: pointer;
    }
</style>