<template>
	<v-app>
		<v-content>
			<v-container
				class="fill-height"
				fluid
			>
				<v-row
					align="center"
					justify="center"
				>
					<v-col
						cols="12"
						sm="8"
						md="6"
						lg="5"
					>
						<v-card
							class="elevation-12"
						>
							<v-toolbar
								color="primary"
								dark
								flat
							>
								<v-toolbar-title>Register</v-toolbar-title>
							</v-toolbar>
							<v-form
								ref="form"
								v-model="valid"
								lazy-validation
								@submit.prevent
								onSubmit="return false;"
							>
								<v-card-text>
									<v-row>
										<v-col class="py-0">
											<v-text-field
												v-model="name"
												:rules="nameRules"
												placeholder="Will Ferrel"
												label="First Last"
												required
												prepend-icon="person"
												type="text"
											/>
										</v-col>
									</v-row>
								</v-card-text>

								<v-card-text>
									<v-row>
										<v-col cols="12" sm="6" class="py-0">
											<v-text-field
												v-model="email"
												:rules="emailRules"
												placeholder="example@email.com"
												label="Email"
												required
												prepend-icon="email"
												type="text"
											/>
										</v-col>

										<v-col cols="12" sm="6" class="py-0">
											<v-text-field
												v-model="email_confirmation"
												:rules="email_confirmationRule"
												label="Confirm Email"
												name="re-email"
												required
												type="text"
											/>
										</v-col>
									</v-row>
								</v-card-text>

								<v-card-text>
									<v-row>
										<v-col cols="12" sm="6" class="py-0">
											<v-text-field
												v-model="password"
												:rules="passwordRules"
												label="Password"
												required
												prepend-icon="lock"
												:append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
												:type="show1 ? 'text' : 'password'"
												@click:append="show1 = !show1"
											/>
										</v-col>

										<v-col cols="12" sm="6" class="py-0">
											<v-text-field
												v-model="password_confirmation"
												:rules="password_confirmationRule"
												label="Confirm Password"
												required
												:append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
												:type="show2 ? 'text' : 'password'"
												@click:append="show2 = !show2"
											/>
										</v-col>
									</v-row>
								</v-card-text>

								<v-card-text
									v-if="error"
								>
									<v-alert
										type="error"
									>
										{{error}}
									</v-alert>
								</v-card-text>
	
								<v-card-actions
									class="justify-center"
								>
									<v-btn
										:disabled="!valid"
										color="primary"
										type="submit"
										@click="register"
									>
										Create
									</v-btn>
									<v-btn
										to="/login"
										text
									>
										Cancel
									</v-btn>
								</v-card-actions>
							</v-form>
						</v-card>
					</v-col>
				</v-row>
			</v-container>
		</v-content>
	</v-app>
</template>

<script>
	export default {
		data() {
			return {
				show1: false,
				show2: false,
				valid: true,
				name: '',
				email: '',
				email_confirmation: '',
				password: '',
				password_confirmation: '',
				error: '',
				nameRules: [
					v => !!v || 'Name is required',
				],
				emailRules: [
					v => !!v || 'E-mail is required',
					v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
				],
				email_confirmationRule: [
					v => !!v || 'E-mail is required',
					v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
					v => this.email == this.email_confirmation || 'Email must match'
				],
				passwordRules: [
					v => !!v || 'Password is required',
					v => v.length >= 6 || 'Password must be less than 6 characters',
				],
				password_confirmationRule: [
					v => !!v || 'Password is required',
					v => v.length >= 6 || 'Password must be less than 6 characters',
					v => this.password === this.password_confirmation || 'Password must match'
				],
			};
		},
		methods: {
			register() {
				if(this.$refs.form.validate()){
					this.axios.post('api/register', {
						name: this.name,
						email: this.email,
						email_confirmation: this.email_confirmation,
						password: this.password,
						password_confirmation: this.password_confirmation
					})
					.then(response => {
						this.$router.push({ name: "login" , params: {message: response.data.message}});
					})
					.catch(error => {
						this.error = error.response.data;
					});
				}
			},
		}
	}
</script>