<template>
	<v-form
		ref="form"
		lazy-validation
	>
		<v-row>
			<v-col
				cols="12"
			>
				<v-card
					class="pa-10"
				>
					<v-col
						cols="12"
					>
						<v-select
							v-model="selected"
							:items="activityTitles"
							label="Choose an activity"
							dense
						></v-select>
					</v-col>

					<v-col
						v-if='selected == "Questions"'
						cols="12"
					>
						<v-row>
							<v-col
								cols="12"
							>
								<v-textarea
									outlined
									auto-grow
									v-model="question.text"
									label="Question"
									required
								></v-textarea>
							</v-col>
							<v-col
								cols="12"
								align="center"
							>
								<template
									v-for="(answer, i) in question.answers"
								>
									<v-row
										v-bind:key="i"
									>
										<v-col
											cols="12"
										>
											<v-row
												align="center"
											>
												<v-col
													cols="6"
												>
													<v-checkbox
														v-model="answer.isCorrect"
														:value="false"
														label="Correct answer"
													></v-checkbox>
												</v-col>
												<v-col
													v-if="i >= 2"
													cols="6"
													align="right"
												>
													<v-btn
														color="secondary"
														fab
														small
														@click=(remove_answers(i))
													>
														<v-icon>mdi-minus</v-icon>
													</v-btn>
												</v-col>
											</v-row>
											<v-row
											>
												<v-col>
													<v-textarea
														outlined
														auto-grow
														v-model="answer.text"
														rows="2"
														label="Write an answer"
														required
													></v-textarea>
												</v-col>
											</v-row>
										</v-col>
									</v-row>
								</template>
							</v-col>
							<v-col
								cols="12"
								align="right"
								class="mb-6"
							>
								<v-btn
									fab
									color="success"
									@click=(add_answers())
								>
									<v-icon dark>mdi-plus</v-icon>
								</v-btn>
							</v-col>
						</v-row>
						<v-row>
							<v-col
								cols="12"
							>
								<v-divider></v-divider>
							</v-col>
						</v-row>
						<v-row>
							<v-col
								cols="12"
							>
								<v-btn
									color="primary"
									class="mr-4 mt-8"
									@click="save_activity()"
								>
									Add
								</v-btn>
							</v-col>
						</v-row>
					</v-col>
				</v-card>
			</v-col>
		</v-row>
		<template
			v-for="(activity, i) in activities"
		>
			<v-row
				v-bind:key="i"
			>
				<v-col
					cols="12"
				>
					<v-card
						class="px-10"
					>
						<v-card-title class="title font-weight-regular justify-space-between">
							<span>Preview</span>
						</v-card-title>
						
						<v-col
							cols="12"
						>	
							<v-row>
								<v-col
									cols="6"
								>
									<v-switch
										v-model="readOnly"
										class="ma-2"
										label="Read only"
									></v-switch>
								</v-col>
								<v-col
									cols="6"
									align="right"
									justify-end
								>
									<v-btn
										color="secondary"
										:disabled=readOnly
										fab
										small
										@click="remove_activity(i)"
									> 
										<v-icon>mdi-delete</v-icon>
									</v-btn>
								</v-col>
							</v-row>
							<v-row>
								<v-col
									cols="12"
								>
									<v-textarea
										outlined
										auto-grow
										:disabled=readOnly
										label="Question"
										required
										:value="activity.text"
									></v-textarea>
								</v-col>
								<v-col
									cols="12"
									align="center"
								>
									<template
										v-for="(answer, y) in activity.answers"
									>
										<v-row
											v-bind:key="y"
										>
											<v-col
												cols="12"
											>
												<v-row
													align="center"
												>
													<v-col
														cols="6"
													>
														<v-checkbox
															:disabled=readOnly
															v-model="answer.isCorrect"
															:checked="answer.isCorrect"
															label="Correct answer"
														></v-checkbox>
													</v-col>
													<v-col
														cols="6"
														align="right"
														v-if="y >= 2"
													>
														<v-btn
															:disabled=readOnly
															color="secondary"
															fab
															small
															@click="remove_question_answer(i, y)"
														>
															<v-icon>mdi-minus</v-icon>
														</v-btn>
													</v-col>
												</v-row>
												<v-row
												>
													<v-col>
														<v-textarea
															:disabled=readOnly
															auto-grow
															outlined
															rows="2"
															label="Update an answer"
															:value="answer.text"
															required
														></v-textarea>
													</v-col>
												</v-row>
											</v-col>
										</v-row>
									</template>
								</v-col>
								<v-col
									cols="12"
									align="right"
									class="mb-6"
								>
									<v-btn
										:disabled=readOnly
										fab
										color="success"
										@click="add_question_answer(i)"
									>
										<v-icon dark>mdi-plus</v-icon>
									</v-btn>
								</v-col>
							</v-row>
						</v-col>
					</v-card>
				</v-col>
			</v-row>
		</template>
		<template
			v-if='activities.length'
		>
			<v-row>
				<v-col>
					<v-btn
						color="success"
					>
						Upload
					</v-btn>
					<v-btn
						color="error"
					>
						Cancel
					</v-btn>
				</v-col>
			</v-row>
		</template>
	</v-form>
</template>

<script>
	export default {
		data: function() {
			return {
				title: 'New activity',
				selected: '',
				answerCount: 2,
				question: {
					text: '',
					answers: [
						{text: '', isCorrect: false },
						{text: '', isCorrect: false },
					]
				},
				activityTitles: [
					'Questions',
				],
				activities: [
				],
				readOnly: true,
			}
		},
		methods: {
			add_question_answer: function (activityId) {
				this.activities[activityId].answers.push({text: '', isCorrect: false});
			},
			remove_question_answer: function (activityId, answerId) {
				this.$delete(this.activities[activityId].answers, answerId);
			},
			remove_activity: function (id) {
				this.$delete(this.activities, id);
			},
			remove_answers: function (id) {
				this.$delete(this.question.answers, id);
				this.answerCount--;
			},
			add_answers: function () {
				this.question.answers.push({text: '', isCorrect: false});
				this.answerCount++;
			},
			save_activity: function () {
				this.activities.push(this.question);

				this.answerCount = 2;
				this.question = {
					text: '',
					answers: [
						{text: '', isCorrect: false },
						{text: '', isCorrect: false },
					]
				};

				this.selected = '';

			},
		},
		watch: {
			answers: function (response) {
			}
		},
	}
</script>