<template>
    <v-row>
        <v-col
			cols="12"
		>
            <v-btn
                class="black--text"
                @click.native="openFileDialog"
            >
                Upload Files
                <v-icon right dark> cloud_upload</v-icon>
            </v-btn>
            <input
                type="file"
                ref="file"
                id="file-upload"
                style="display:none"
                multiple="multiple"
                @change="onFileChange"
            >
        </v-col>
        <v-col
			cols="12"
		>
            <lesson-files :files="files" :images="images"></lesson-files>
        </v-col>
    </v-row>
</template>

<script>
	import LessonFiles from '@/js/components/global/files/nested/LessonFiles';

	export default {
        props: [
			'files',
		],
		data() {
			return {
				images: [],
			}
		},
		methods: {
			openFileDialog() {
				document.getElementById('file-upload').click();
			},
			onFileChange(e) {
				let auxFiles = e.target.files;
				var vm = this;
				if(auxFiles){
					console.log(auxFiles);
					var files_count = auxFiles.length;
					var count = 1;
					for (let i = 0; i < files_count; i++){
						var re = /(?:\.([^.]+))?$/;
						var ext = re.exec(auxFiles[i].name)[1];
						if(ext.search(/jpg|jpeg|png|gif|bmp|svg/i) != -1){
							this.files.push({
									id: (this.files.length + count),
									src: URL.createObjectURL(auxFiles[i]),
									lazySrc: URL.createObjectURL(auxFiles[i]),
									title: auxFiles[i].name,
									ext: 'image'
								}
							);
						}else{
							this.files.push({
									id: (this.files.length + count),
									src: URL.createObjectURL(auxFiles[i]),
									lazySrc: URL.createObjectURL(auxFiles[i]),
									title: auxFiles[i].name,
									ext: 'file'
								}
							);
						}
					}
				} 
			},
			uploadFile() {
				var self = this; 
				axios.post('URL', self.formData).then(function (response) {
					console.log(response);
				}).catch(function (error) {
					console.log(error);
				});
			},
		},
		components: {
			LessonFiles,
		},
		mounted() {
		},
	}
</script>