<template>
	<v-row justify="center">
		<template
			v-if="loading"
		>
			<v-col
				v-for="n in 1"
				:key="n"
				lg="12"
				md="12"
				sm="12"
				cols="12"
			>
				<v-card
					class="mx-auto"
				>
					<v-skeleton-loader
						type="list-item"
					>
					</v-skeleton-loader>
				</v-card>
			</v-col>
		</template>
		<template
			v-if="!loading"
		>
			<v-col
				cols="12"
			>
				<v-card
				>
					<v-form
						ref="form"
						lazy-validation
						@submit.prevent
						onSubmit="return false;"
					>
						<v-card-text>
							<v-text-field
								v-model="message"
								name="message"
								:rules="messageRules"
								type="text"
								label="Message"
								hint="New comment"
								clear-icon="mdi-close-circle"
								append-outer-icon="send"
								prepend-icon="message"
								counter
								maxlength="2000"
								clearable
								@click:append-outer="sendMessage"
								@click:clear="clearMessage"
							></v-text-field>
						</v-card-text>
					</v-form>
				</v-card>
			</v-col>
			<v-col
				v-if="comments.length != 0"
				cols="12"
			>
				<v-card>
					<v-list two-line>
						<template
							v-for="(comment) in comments"
						>
							<v-row
								:key="comment.id"
							>
								<v-col>
									<v-subheader
										inset
									>
										{{comment.created_at}}
									</v-subheader>

									<v-divider
										inset
									></v-divider>

									<v-list-item>
										<v-list-item-avatar>
											<v-avatar
												color="red"
											>
													<span class="white--text">
														{{ comment.user.name | short_hand }}
													</span>
											</v-avatar>
											</v-list-item-avatar>
											<v-list-item-content>
											<v-list-item-title v-html="comment.user.name"></v-list-item-title>
											<v-list-item-subtitle v-html="comment.content"></v-list-item-subtitle>
										</v-list-item-content>
									</v-list-item>
								</v-col>
							</v-row>
						</template>
					</v-list>
				</v-card>
			</v-col>
		</template>
	</v-row>
</template>

<script>
	import api from '@/js/api/commentCourse';

	export default {
		props: [
			'comments',
			'course',
			'loading'
		],
		data: function() {
			return {
				message: '',
				messageRules: [
					v => !!v || 'Message is required',
				],
			}
		},
		filters: {
		short_hand (name) {
			// You can put your logic here...
			let words = name.split(" ")
			let short_hand = '';

			if(words.length <= 1){
				short_hand = words[0][0];
			}else{
				short_hand = words[0][0] + words[words.length-1][0];
			}
				return short_hand.toUpperCase(); // <-- The return value as Per logic
			}
		},
		methods: {
			sendMessage() {
				if(this.$refs.form.validate()){
					api.store(this.$route.params.course, {
						message: this.message,
					},{
						headers: {
							Accept: 'application/json',
							Authorization: "Bearer " + this.$store.state.token,
							'Content-Type': 'application/json',
						},
					})
					.then(response => {
						this.$emit("update", response.data.comment);
						this.clearMessage();
					})
					.catch(error => {
						this.error = error.response.data;
					});
				}
			},
			clearMessage() {
				this.$refs.form.reset();;
			}
		},
	}
</script>
<style>
	.v-list-item__subtitle{
		white-space: unset;
		user-select: text;
	}
</style>
