<template>
	<v-row>
		<template
			v-if="loading"
		>
			<v-col
				v-for="n in 3"
				:key="n"
				lg="4"
				md="4"
				sm="6"
				cols="12"
			>
				<v-card
					class="mx-auto"
				>
					<v-skeleton-loader
						class="px-4 py-4"
						type="article"
					>
					</v-skeleton-loader>
				</v-card>
			</v-col>
		</template>
		<template
			v-if="!loading && elementList.length != 0"
		>
			<v-col
				v-for="(element) in elementList"
				:key="element.id"
				lg="4"
				md="4"
				sm="6"
				cols="12"
			>
				<lesson-card
					v-if="element.element_type.title == 'lesson'"
					:element="element"
				></lesson-card>

				<activity-card
					v-if="element.element_type.title == 'activty'"
					:element="element"
				></activity-card>

				<exam-card
					v-if="element.element_type.title == 'exam'"
					:element="element"
				></exam-card>
			</v-col>
		</template>
	</v-row>
</template>

<script>

	import LessonCard from '@/js/components/pages/courses/show/nested/LessonCard';
	import ActivityCard from '@/js/components/pages/courses/show/nested/ActivityCard';
	import ExamCard from '@/js/components/pages/courses/show/nested/ExamCard';

	export default {
		props: [
			'elementList',
			'loading'
		],
		components: {
			LessonCard,
			ActivityCard,
			ExamCard
		},
	}
</script>

<style scoped>
</style>
