<template>
	<v-row>
		<template
			v-if="loading"
		>
			<v-col
				v-for="n in 3"
				:key="n"
				lg="4"
				md="6"
				sm="6"
				cols="12"
			>
				<v-card
					class="mx-auto"
				>
					<v-skeleton-loader
						class="px-4 py-4"
						type="article"
					>
					</v-skeleton-loader>
				</v-card>
			</v-col>
		</template>
		<template
			v-if="!loading && units != null && units.length != 0"
		>
			<v-col
				v-for="(element) in units"
				:key="element.id"
				lg="4"
				md="6"
				sm="6"
				cols="12"
			>
				<unit-card
					:element="element"
				></unit-card>
			</v-col>
		</template>
	</v-row>
</template>

<script>

	import UnitCard from '@/js/components/pages/courses/show/nested/UnitCard';

	export default {
		props: [
			'units',
			'loading'
		],
		components: {
			UnitCard,
		},
	}
</script>

<style scoped>
</style>
