<template>
    <v-row
        class="pt-4 pb-4"
    >
        <lesson-card></lesson-card>
    </v-row>
</template>

<script>
	import LessonCard from '@/js/components/pages/courses/units/lessons/show/nested/LessonCard';

	export default {
		components: {
			LessonCard,
		}
	}
</script>

<style scoped>
</style>
