<template>
    <v-row>
        <template
            v-if="loading"
        >
            <v-col
                cols="12"
            >
                <v-card
                    class="mx-auto"
                    elevation="2"
                >
                    <v-skeleton-loader
                        type="article"
                    >
                    </v-skeleton-loader>
                </v-card>
            </v-col>
            <v-col
                cols="12"
            >
                <v-boilerplate
                    class="pa-6"
                    type="text, text, text, text, text, sentences"
                >
                </v-boilerplate>
            </v-col>
        </template>
        <div
            v-else
        >
            <v-col
                cols="12"
            >
                <v-card
                    class="mx-auto"
                    elevation="2"
                >
                    <v-card-text>
                        <div>Lesson 1</div>
                        <p class="display-1 text--primary">
                            {{lesson.title}}
                        </p>
                        <p>
                            {{lesson.status.title}}
                        </p>
                        <div class="text--primary">
                            {{lesson.info}}
                        </div>
                    </v-card-text>
                    <v-divider></v-divider>
                    <div>
                        <v-chip
                            v-for="(file, index) in lesson.lesson_files"
                            :key="index"
                            class="ma-2"
                            color="secondary"
                            text-color="white"
                            :href="file.path"
                            target="_blank"
                        >
                            <v-avatar left>
                                <v-icon>mdi-paperclip</v-icon>
                            </v-avatar>
                            {{file.original_name}}
                        </v-chip>
                    </div>
                </v-card>
            </v-col>
            <v-col
                v-for="(element, index) in lesson.lesson_element_lists"
                :key="index"
                cols="12"
            >
                <template
                    v-if="element.lesson_element_type.name == 'ql-content'"
                >
                    <v-card
                        class="pa-2"
                        elevation="2"
                    >
                        <div class="output ql-snow">
                            <div class="ql-editor" v-html="element.lesson_element_content.content"></div>
                        </div>
                    </v-card>
                </template>
                <template
                    v-if="element.lesson_element_type.name == 'image'"
                >
                    <v-card
                        elevation="2"
                    >
                        <v-carousel>
                            <template
                                v-for="(image, index) in element.lesson_element_images"
                            >
                                <v-carousel-item
                                    :key="index"
                                    :src="image.path"
                                    reverse-transition="fade-transition"
                                    transition="fade-transition"
                                ></v-carousel-item>
                            </template>
                        </v-carousel>
                    </v-card>
                </template>
                <template
                    v-if="element.lesson_element_type.name == 'video'"
                >
                    <v-card
                        elevation="2"
                    >
                        <div style="width: 100%;">
                            <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
                                <iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" :src="element.lesson_element_video.content" allowfullscreen="true" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                            </div>
                        </div>
                    </v-card>
                </template>
                <template
                    v-if="element.lesson_element_type.name == 'link'"
                >
                    <v-card
                        elevation="2"
                    >
                        <div style="width: 100%;">
                            <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
                                <iframe frameborder="0" width="1200px" height="675px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" :src="element.lesson_element_link.content" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe>
                            </div>
                        </div>
                    </v-card>
                </template>
            </v-col>
        </div>
    </v-row>
</template>

<script>
	export default {
		data: function() {
			return {

			}
		},
		props: [
			'lesson',
			'loading'
        ],
        components: {
            // Create a new component that
            // extends v-skeleton-loader
            VBoilerplate: {
                functional: true,

                render (h, { data, props, children }) {
                return h('v-skeleton-loader', {
                    ...data,
                    props: {
                    boilerplate: true,
                    elevation: 2,
                    ...props,
                    },
                }, children)
                },
            },
        },
	};
</script>

<style>
</style>
