<template>
	<v-row>
	  	<v-col
			cols="12"
	  	>
			<v-row>
				<v-col
					cols="12"
				>
					<v-row>
						<v-col
							lg="2"
							md="4"
							sm="4"
							cols="12"
						>
							<v-card
							  	class="pa-2"
							>
								<v-card-text
									class="text-center pa-0 pt-3"
								>
									<p>
								  		Users
									</p>
									<p
										class="display-1 text--primary"
									>10</p>
								</v-card-text>
							</v-card>
						</v-col>
						<v-col
							lg="2"
							md="4"
							sm="4"
							cols="12"
						>
							<v-card
							  	class="pa-2"
							>
								<v-card-text
									class="text-center pa-0 pt-3"
								>
									<p>
								  		Lessons
									</p>
									<p
										class="display-1 text--primary"
									>25</p>
								</v-card-text>
							</v-card>
						</v-col>
						<v-col
							lg="2"
							md="4"
							sm="4"
							cols="12"
						>
							<v-card
							  	class="pa-2"
							>
								<v-card-text
									class="text-center pa-0 pt-3"
								>
									<p>
								  		Activities
									</p>
									<p
										class="display-1 text--primary"
									>5</p>
								</v-card-text>
							</v-card>
						</v-col>
						<v-col
							lg="2"
							md="4"
							sm="4"
							cols="12"
						>
							<v-card
							  	class="pa-2"
							>
								<v-card-text
									class="text-center pa-0 pt-3"
								>
									<p>
								  		Exams
									</p>
									<p
										class="display-1 text--primary"
									>2</p>
								</v-card-text>
							</v-card>
						</v-col>
						<v-col
							lg="2"
							md="4"
							sm="4"
							cols="12"
						>
							<v-card
							  	class="pa-2"
							>
								<v-card-text
									class="text-center pa-0 pt-3"
								>
									<p>
								  		Days
									</p>
									<p
										class="display-1 text--primary"
									>38</p>
								</v-card-text>
							</v-card>
						</v-col>
						<v-col
							lg="2"
							md="4"
							sm="4"
							cols="12"
						>
							<v-card
							  	class="pa-2"
							>
								<v-card-text
									class="text-center pa-0 pt-3"
								>
									<p>
								  		Xxx
									</p>
									<p
										class="display-1 text--primary"
									>00</p>
								</v-card-text>
							</v-card>
						</v-col>
					</v-row>
				</v-col>
			</v-row>
			<v-row>
				<v-col
					cols="12"
				>
					<chart-line></chart-line>
				</v-col>
				<v-col
					cols="12"
				>
					<v-row>
						<v-col
							lg="6"
							md="6"
							sm="12"
							cols="12"
						>
							<chart-bar></chart-bar>
						</v-col>
						<v-col
							lg="6"
							md="6"
							sm="12"
							cols="12"
						>
							<chart-pie></chart-pie>
						</v-col>
					</v-row>
				</v-col>
			</v-row>
	  	</v-col>
	</v-row>
</template>

<script>
	import chartPie from '@/js/components/pages/courses/statistics/charts/chartPie';
	import chartBar from '@/js/components/pages/courses/statistics/charts/chartBar';
	import chartLine from '@/js/components/pages/courses/statistics/charts/chartLine';
	
	export default {
		data: function() {
			return {
			}
		},
		components: {
			chartPie,
			chartBar,
			chartLine
		}
	};
</script>

<style>
</style>
