<template>
	<v-row>
	  	<v-col
			cols="12"
	  	>
			<v-card
			  	class="pa-2"
			>
				<v-card-text>
					<div>Lorem ipsum</div>
					<p class="display-1 text--primary">
				  		Lorem ipsum dolor sit
					</p>
					<p>UNPUBLISHED</p>
					<div class="text--primary">
					  Etiam malesuada egestas facilisi mus ornare varius nisl nibh nisi tempor nullam, euismod ad leo ullamcorper torquent ultricies mollis risus et tincidunt tempus hac, vulputate ante tortor in sem lacus integer posuere condimentum at.
					</div>
				</v-card-text>
				<v-card-actions>
					<v-btn
						color="primary"
						to="/courses/show/"
					>
						GO BACK
					</v-btn>
				</v-card-actions>
			</v-card>
	  	</v-col>
	</v-row>
</template>

<script>
</script>

<style>
</style>
